# CORS Header যুক্ত করা
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
    Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept"
</IfModule>

RewriteEngine On
RewriteBase /aso/

# ফাইল না থাকলে index.php-তে হ্যান্ডেল করা
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ indexaso.php [L,QSA]

DirectoryIndex indexaso.php